<div class="jumbotron mt-4">
    <h1 class="display-4">Node App de Notas</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem blanditiis 
        aspernatur tempora ex cupiditate officia reiciendis! Voluptates sequi quos 
        consectetur veritatis doloribus. Repellat ad ullam delectus sunt est suscipit necessitatibus.
    </p>
    <a href="http://google.com" class="btn btn-primary btn-lg">App</a>
</div>