<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrate
            </div>
            <div class="card-body">
                <form action="/usuarios/registro" method="POST">
                    <div class="form-group">
                        <input type="text" name="usuario" class="form-control" placeholder="Nombre" 
                        value="{{usuario}}">
                    </div>
                    <div class="form-group">
                        <input type="email" name="correo" class="form-control" placeholder="Correo" 
                        value="{{correo}}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="contrasena" class="form-control" placeholder="Contraseña"
                        value="{{contrasena}}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm_contrasena" class="form-control" placeholder="Confirme su Contraseña"
                        value="{{confirm_contrasena}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrate
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>